.svn/
.git/
.vs/
.nuget/
bin/
obj/
TestResults/
packagedoc/ef/
packagedoc/ef.toolbox/
*.csproj.user
*.nupkg
*.nuspec
*.bak
*.~*
*.zip
*.tar
*.chi
*.chm
*.chw

**/prepare/src/
**/prepare/dst/
**/doc/dst/

/gehtsoft.ef/archive/
/gehtsoft.ef/Gehtsoft.EF.Db.SqlDb.Sql/*.bin
