.svn/
.git/
.vs/
.nuget/
bin/
obj/
TestResults/
*.csproj.user
*.nupkg
*.bak
*.~*
*.zip
*.tar
*.chi
*.chm
*.chw

**/prepare/src/
**/prepare/dst/
**/doc/dst/

/gehtsoft.ef/archive/
