[*.cs]

# CA1861: Prefer 'static readonly' fields over constant array arguments
# Not important in test code
dotnet_diagnostic.CA1861.severity = none

# S1192: String literals should not be duplicated
# Not important in test code
dotnet_diagnostic.S1192.severity = none

# CA1822: Mark members as static
# Not important in test code
dotnet_diagnostic.CA1822.severity = none
