<?xml version="1.0" encoding="utf-8"?>
<nuget xmlns="http://www.gehtsoft.com/build/nuget">
 <!-- versions. the FIRST version is the current -->
 <versions>
  <version id="1.8.6">- Update dependencies..</version>
  <version id="1.8.5">- Fix entity query when optional dependent entity has non-optional dependent entity.</version>
  <version id="1.8.4">- Move toward net 7.0, Update dependencies.</version>
  <version id="1.8.3">- Update dependencies.</version>
  <version id="1.8.2">- Fix legacy entity query methods ExecuteReader and ExecuteNoData</version>
  <version id="1.8.1">- Move toward net 6.0, update dependencies</version>
  <version id="1.7.2">- Update dependencies.</version>
  <version id="1.7.1">- Introduce DB patches. Add date as string mode for SQLite.</version>
  <version id="1.6.4">- Fix right-side expression funtion wrap.</version>
  <version id="1.6.3">- Update dependencies.</version>
  <version id="1.6.2">- Update dependencies.</version>
  <version id="1.6.1">- Add SQLDB metadata to automatic view creation and composite indexes.</version>
  <version id="1.5.2">- Update dependencies.</version>
  <version id="1.5.1">- Adds OData and SQL 92 queries on SQLDb. Update dependencies.</version>
  <version id="1.4.3">- Fix 3.1 compatibility.</version>
  <version id="1.4.2">- Remove net461 support, update dependencies.</version>
  <version id="1.3.1">- Refactor dependencies.</version>
  <version id="1.2.11">- Introduce SQL Injection projection. Update dependencies.</version>
  <version id="1.2.10">- Update dependencies, fix disposing of connection mutexes</version>
  <version id="1.2.9">- Add IEntityContext interface. Add support calls that returns a scalar (e.g.) Count(), Sum() and so to LINQ queries</version>
  <version id="1.2.8">Add resiliency policy support</version>
  <version id="1.2.7.1">Add cancellation token to async methods, add netcore Oracle driver</version>
  <version id="1.2.7">Add cancellation token to async methods, add netcore Oracle driver</version>
  <version id="1.2.6.3">Add LockAsync()</version>
  <version id="1.2.6.2">Change synchronization approach from SyncRoot to Lock method</version>
  <version id="1.2.6.1">Add a update manager async version</version>
  <version id="1.2.6">Further improve async implementation</version>
  <version id="1.2.5">Improve async implementation, add reading blob as stream method</version>
  <version id="1.2.4">Add SyncRoot to the connection class, update dependencies</version>
  <version id="1.2.3">Async methods are introduced</version>
  <version id="1.2.1.14">Mongo Only update</version>
  <version id="1.2.1.13">Mongo Only update</version>
  <version id="1.2.1.12">Update dependencies</version>
  <version id="1.2.1.11">Add count(distinct) support, improve entity query builder syntax sugar, refactor Bson and Mongo</version>
  <version id="1.2.1.10"></version>
 </versions>
 <properties>
  <owner>Gehtsoft</owner>
  <projectUrl>https://github.com/gehtsoft-usa/Gehtsoft.EF</projectUrl>
  <license type="expression">Apache-2.0</license>
  <copyright>Gehtsoft USA LLC 2016-2022</copyright>
 </properties>
 <projects>
   <project id="Gehtsoft.EF.Utils">
    <description>Gehtsoft Entity Framework: Utilities</description>
   </project>
   <project id="Gehtsoft.EF.Entities">
    <description>Gehtsoft Entity Framework: Entity Definition and Management Tools</description>
    <additional-file file="../doc/Gehtsoft.EF.Entities.xml" target="*"></additional-file>
    <additional-file file="../../readme.md" target="/"/>
   </project>
   <project id="Gehtsoft.EF.Db.SqlDb">
    <description>Gehtsoft Entity Framework: Core Implementation for SQL databases.</description>
    <additional-file file="../doc/Gehtsoft.EF.Db.SqlDb.xml" target="*"></additional-file>
    <additional-file file="../../readme.md" target="/"/>
   </project>
   <project id="Gehtsoft.EF.Db.SqlDb.Sql">
    <description>Gehtsoft Entity Framework: Platform-agnostic SQL 92 parser and executor to operated entities using SQL queries.</description>
   </project>
   <project id="Gehtsoft.EF.Db.SqlDb.OData">
    <description>Gehtsoft Entity Framework: Utilities: OData support.</description>
   </project>
   <project id="Gehtsoft.EF.Db.MssqlDb">
    <description>Gehtsoft Entity Framework: Microsoft SQL 2005+ Driver</description>
   </project>
   <project id="Gehtsoft.EF.Db.MysqlDb">
    <description>Gehtsoft Entity Framework: MySQL/MariaDB Driver</description>
   </project>
   <project id="Gehtsoft.EF.Db.OracleDb">
    <description>Gehtsoft Entity Framework: Oracle 11+ Driver</description>
   </project>
   <project id="Gehtsoft.EF.Db.PostgresDb">
    <description>Gehtsoft Entity Framework: Postgres Driver</description>
   </project>
   <project id="Gehtsoft.EF.Db.SqliteDb">
    <description>Gehtsoft Entity Framework: SQLite Driver</description>
   </project>
   <project id="Gehtsoft.EF.FTS">
    <description>Gehtsoft Entity Framework: DB-Agnostic Full Text Search</description>
    <additional-file file="../doc/Gehtsoft.EF.FTS.xml" target="*"></additional-file>
   </project>
   <project id="Gehtsoft.EF.Bson" >
    <description>Gehtsoft Entity Framework: Entity framework BSON serializer</description>
   </project>
   <project id="Gehtsoft.EF.MongoDb">
    <description>Gehtsoft Entity Framework: MongoDB-based implementation</description>
   </project>
   <project id="Gehtsoft.EF.Northwind">
    <description>Gehtsoft Entity Framework: Northwind sample database</description>
   </project>
 </projects>
</nuget>