<?xml version="1.0" encoding="utf-8"?>
<nuget xmlns="http://www.gehtsoft.com/build/nuget">
 <!-- versions. the FIRST version is the current -->
 <versions>
  <version id="1.4.3">- Update dependencies</version>
  <version id="1.4.2">- Update dependencies</version>
  <version id="1.4.1">- Drop pure .netframework support, refactor dependencies</version>
  <version id="1.3.1">- Refactor dependencies.</version>
  <version id="1.2.4">- Add does not match, SQLInjection and HTML predicates</version>
  <version id="1.2.3">- Push to the latest version</version>
  <version id="1.2.2">- Supports cancellation token in async methods</version>
  <version id="1.2.1">- Introduce async validation and implement async validation for database validators</version>
  <version id="1.1.25">- Sync with latest EF update</version>
  <version id="1.1.24">- Fix export of array validators</version>
  <version id="1.1.23">- Improved support for java boolean expressions</version>
  <version id="1.1.22">- Add index into reference of array validators via "using"</version>
  <version id="1.1.21">- Improve null handling in maps and validators</version>
  <version id="1.1.20">- Add array validator export to JavaScript, Incorporate latest updates of ExpressionCompiler</version>
  <version id="1.1.19">- Fix AddUnique behavior with predefined when predicate</version>
  <version id="1.1.18">- Fixed Unquie spelling, provide method to check whether the map already exists</version>
 </versions>
 <properties>
  <owner>Gehtsoft</owner>
  <projectUrl>http://asp.gehtsoftusa.com/doc/ef/toolbox/</projectUrl>
  <licenseUrl>http://asp.gehtsoftusa.com/doc/privatelicense.html</licenseUrl>
  <copyright>Gehtsoft USA LLC 2016-2019</copyright>
 </properties>
<projects>
  <project id="Gehtsoft.Mapper" location="..\Gehtsoft.Mapper\Gehtsoft.Mapper.csproj">
    <description>Entity to Model mapper</description>
  </project>
  <project id="Gehtsoft.EF.Mapper" location="..\Gehtsoft.EF.Mapper\Gehtsoft.EF.Mapper.csproj">
    <description>Entity to Model mapper</description>
  </project>
  <project id="Gehtsoft.Validator" location="..\Gehtsoft.Validator\Gehtsoft.Validator.csproj">
    <description>Basic Validation Framework</description>
  </project>
  <project id="Gehtsoft.EF.Validator" location="..\Gehtsoft.EF.Validator\Gehtsoft.EF.Validator.csproj">
    <description>Extension of Validation Framework for EF entities</description>
  </project>
  <project id="Gehtsoft.EF.Mapper.Validator" location="..\Gehtsoft.EF.Mapper.Validator\Gehtsoft.EF.Mapper.Validator.csproj">
    <description>Extension of Validation Framework for EF mapped models</description>
  </project>
  <project id="Gehtsoft.EF.Serialization" location="..\Gehtsoft.EF.Serialization\Gehtsoft.EF.Serialization.csproj">
    <description>Implementation of sequental readers and writers for all entities for DB and XML</description>
  </project>
  <project id="Gehtsoft.EF.TestDatabase" location="..\Gehtsoft.EF.TestDatabase\Gehtsoft.EF.TestDatabase.csproj">
    <description>Test database factory</description>
  </project>
</projects>
</nuget>